.question-container {
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  box-shadow: 2px 3px darkgray, -2px 3px 0 darkgray; }
  .question-container .top-nav {
    position: relative;
    font-size: 10px; }
    .question-container .top-nav .back-button {
      border: none;
      position: absolute;
      top: -5px;
      left: 10px; }
      .question-container .top-nav .back-button:hover {
        cursor: pointer; }
      .question-container .top-nav .back-button img {
        height: 41px;
        width: 41px; }
    .question-container .top-nav .step {
      position: absolute;
      top: 10px;
      right: 10px; }
  .question-container .question-box {
    margin-top: 20px; }
    .question-container .question-box .answers-container {
      border: none;
      margin: 10px auto 0;
      display: flex;
      justify-content: center; }
    .question-container .question-box .score-box .refresh-button {
      margin: 10px;
      padding: 10px 15px;
      border-radius: 4px;
      box-shadow: 2px 3px grey;
      background: radial-gradient(circle, #a8a8a8, #e4e3e3); }
      .question-container .question-box .score-box .refresh-button:hover {
        background: radial-gradient(circle, lightgrey, #a8a8a8); }
      .question-container .question-box .score-box .refresh-button:focus {
        outline: none !important; }
